# ide settings
.idea
.vscode
.codecc

# mac temp file
.DS_Store

# env
venv
.venv
.noxenv

# build
*.py[cod]
*.egg-info
*.egg
.eggs
eggs
build
dist
__pycache__

# logs
logs
*.log
*.log*
*.out
nohup*

# pytest
.pytest_cache
# pytest report
htmlcov

# coverage
*.coverage
*.coverage.*
pytest.cov.tmp

# data
datasets
dataset
vector_cache
third_party
data

# discard
discard

tests
